@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1c1c1c;
    position: relative;
    color: #e1e1e6;
}

@keyframes button-animation {
    0% {
      background-position: top right;
    }
    100% {
      background-position: top left;
    }
  }
  
  @keyframes button-animation-rev {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }

/* >>>>>>>>> ESTILOS DO HEADER <<<<<<<<<< */
#header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#logo {
    width: 100px;
}

#logo a img {
    margin: auto;
  display: block;
}


#btn-mobile {
    display: none;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-decoration: none;
    list-style: none;
}


#menu li a {
    padding: 10px;
    text-decoration: none;
    color: #e1e1e6;
}

#menu li a:hover {
    color: #c91bce;
    display:inline-block;
    transform: translateY(10px);
    transition: .3s;
}


#return {
    text-align: center;
    position: fixed;
    width: 100px;
    height: 100px;
    right: 40px;
    bottom: 40px;
    z-index: 9999999;
}


#return a{
    display: none;
    font-size: 50px;
    color: #6ac6dc;
}

#return a.active {
    display: block

}

/* >>>>>>>>> ESTILOS DO TOP-CONTAINER <<<<<<<<<< */

#top {
    padding-bottom: 120px;
}
#bgzao {
    width: 100%;
    height: 100%;
    /* height: 100%; */
    /* background-image: url("../img/BG_WAVY.svg"); */
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-size: cover; */
}

.top-container {
    margin: 0 auto;
    max-width: 1366px;
    padding-top: 100px;
    padding-bottom: 100px;
    align-content: center;
}

.top-container h1 {
    font-family: 'Cormorant Garamond', serif;
    margin: 0 auto;
    text-align: center;
    width: 40%;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.1em;
    margin-bottom: 20px;
    /* color: #324b4e; */

    background-color: #11C7F2;
    background-image: linear-gradient(45deg, #11C7F2, #F380F9);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
}

.top-container p {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    text-align: center;
    width: 40%;
    font-size: 14px;
    font-weight: 400;
    /* color: #273b3d; */
    margin-bottom: 20px;
    position: relative;
}

.top-links {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;

}

.top-links a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #c91bce;
    color: #FFF;
    padding: 8px 55px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    margin: 0 10px;

    /* TRANSICAO DE CORES */
    background-image: linear-gradient(45deg, #c91bce 50%, #11C7F2 50%);
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
    animation: button-animation 0.65s 0.15s ease-out forwards;
    display: table;

}

.top-links a:hover {
    background-color:#a719af;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.11);

    /* TRANSICAO DE CORES */
    animation: button-animation-rev 0.65s ease-out forwards;

}

.top-bg {
    width: 100%;
}


/* >>>>>>>>>>>>>>> ESTILOS DO ABOUT <<<<<<<<<<< */

#about {
    padding-bottom: 200px;
    position: relative;
}


.about-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    max-width: 1140px;
}

.about-pic {
    position: relative;
    width: 500px;
}

.about-pic img {
    width: 100%;
}


.about-desc {
    width: 500px;
    margin-top: 100px;
}

.about-desc h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 43px;
    font-weight: 600;
    color: #6ac6dc;
    margin-bottom: 15px;
}

.about-desc h2 span {
    color: #6ac6dc;
    font-size: 40px;
}

.about-desc p {
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#skills {
    padding-bottom: 220px;
    position: relative;
    width: 100%;
    
}

.skills-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto 150px auto;
    max-width: 1366px;
}

.skills-title {
    margin-left: 140px;
    width: 50%;
}

.skills-title h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 43px;
    font-weight: 600;
    color: #6ac6dc;
    margin-bottom: 20px;

}

.skills-title p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    /* width: 600px; */
}

.skills-img {
    text-align: center;
    width: 50%;
}

.skills-img img{
    position: relative;
    width: 70%;
}

.cards-box {
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;     */
    gap: 50px;
    z-index: 99999;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    padding: 20px;
    transition: 0.5s;
    background-color: #fff;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.1);

}
.card:hover{
    background: rgba(28, 28, 28, 0.09019607843137255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);
    border: 1px solid rgba(28, 28, 28, 0.1);
}

.card p{
    font-family: 'Poppins', sans-serif;
    margin: -5px -20px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: #435153;

}

.card1 p {
    color: #a719af;
}

.card2 p {
    color: #9232b9;
}

.card3 p {
    color: #7c4bc2;
}

.card4 p {
    color: #6764cc;
}

.card5 p {
    color: #517cd5;
}

.card6 p {
    color: #3c95df;
}

.card7 p {
    color: #26aee8;
}

.card8 p {
    color: #11c7f2;
}

.card img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
    margin-bottom: 5px;
    color: #95b0b4;
}



#projects {
    position: relative;
    padding-bottom: 220px;
    /* background-image: url('../img/bg12.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
}

.projects-content {
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    position: relative;
    margin: 0 auto;
}

.projects-desc {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.projects-desc h1{
    text-align: end;
    font-family: 'Cormorant Garamond', serif;
    font-size: 43px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #6ac6dc;
}

.projects-all {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    z-index: 99999;
}

.projects-card {
    margin: 0 auto;
    width: 260px;
    flex-wrap: wrap;
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border: 1px solid white;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.project-img {
    width: 100%;
    text-align: center;
}

.project-img img{
    width: 95%;
}

.project-desc {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
}

.project-desc h2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;

}

.project-desc p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20%;
    font-size: 13px;
    font-weight: 400;
}

.project-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.project-links a{
    gap: 60px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 14px;
    /* border: 1px solid #c91bce;
    background-color: #c91bce;
    padding: 2px 5px; */

    /* TRANSICAO DE CORES */
    background-color: #c91bce;
  
    background-image: linear-gradient(
    45deg,
    #c91bce 50%, 
    #11C7F2 50%
    );
  
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

  
    animation: button-animation 0.65s 0.15s ease-out forwards;

}

.project-links a:hover {
    animation: button-animation-rev 0.65s ease-out forwards;
}



.swiper {
    margin-right: 20px !important;
    width: 70%;
    margin-top: 100px;
    margin: 0 auto !important;
    padding: 20px 0 !important;
    background-color: #fff;
    box-shadow: 5px 7px 15px -3px rgba(0,0,0,0.1);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.slide-content {
    height: 100%;
    padding: 0 20px; 
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.swiper .swiper-navBtn::before,
.swiper .swiper-navBtn::after  {
    color: #F6985D;
    font-size: 30px;
    transition: color 0.3s ease;
}

.swiper .swiper-navBtn:hover {
    color:#fff;
}


.swiper .swiper-pagination-bullet {
    background-color: #e7c4ae;
    opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
    background-color:#F6985D;
}

.swiper-slide {
    border-radius: 15px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    
}

.img-cardbox {
    width: 100%;
    /* height: 20%; */
    background-color: #F3F3F3;
    border-radius: 6px;
}

.card-img {
    width: 100%;
    height: 100%;
    border: 15px solid #F3F3F3;
    border-radius: 6px;
}
.card-img img{
    border-radius: 6px 6px 6px 6px;
    width: 100%;
}

.desc-cardbox {
    position: relative;
    background-color: #F3F3F3;
    width: 100%;
    height: 260px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-radius: 0 0 6px 6px;

}

.desc-cardbox h2 {
    font-size: 15px;
    padding-bottom: 10px;
    margin-left: 15px;
    color:#3a3338;
}

.desc-cardbox .border-transparent {
    margin: 0 20px 10px 20px;
    border-bottom: 1px solid rgba(0,0,0, 0.10);

}
.desc-cardbox p {
    font-size: 13px;
    padding: 0 15px 0px 15px;
    margin-bottom: 20px;
    color:#685B65;
}


.desc-cardbox a i{
    color: #fc8237;
}

.desc-cardbox .link-live{
    text-align: center;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 10px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.desc-cardbox .btn-swiper {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 35px;
    margin: 0 auto;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color:#fff;
    text-align: center;
    text-decoration: none;
    background-color: #F6985D;
    border-radius: 20px;
    border: none;
    padding: 6px 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.desc-cardbox .btn-swiper:hover {
    background-color:#fc8237;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.11);
}

.desc-cardbox button:hover {
    background-color: #c243d6;
}

#contact {
    margin: 0 auto;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-content h2 {
    text-align: start;
    font-family: 'Cormorant Garamond', serif;
    font-size: 43px;
    font-weight: 600;
    margin-bottom: 80px;
    color: #6ac6dc;
}

.contact-boxes {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 10px;
}


.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    gap: 12px;
}

.contact-box i {
    font-size: 25px;
    color: #AAA;

    background-color: #AAA;
  
    background-image: linear-gradient(
    45deg,
    #AAA 50%, 
    #11C7F2 50%
    );
  
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

  
    animation: button-animation 0.65s 0.15s ease-out forwards;
}


.contact-box a,
.contact-box p{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;

    background-color: #c91bce;
  
    background-image: linear-gradient(
    45deg,
    #c91bce 50%, 
    #11C7F2 50%
    );
  
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

  
    animation: button-animation 0.65s 0.15s ease-out forwards;
}


.contact-box a:hover,
.contact-box p:hover{
    animation: button-animation-rev 0.65s ease-out forwards;
}

.contact-box p {
    text-align: center;
}

.contact-img {
    text-align: center;
    width: 100%;
}

.contact-img img{
    position: relative;
    width: 80%;
}

footer {
    margin-top: 10px;
}
footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #685B65;
    padding-left: 5%;
}
footer p a {
    
    color:#F6985D;
    
}

.hidden1, .hidden2, .hidden3, .hidden4 {
    visibility: hidden;
}
@media (max-width: 1200px) {

    .title-topcontainer {
        margin-left: 10px;
    }
    .title-topcontainer h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 1.1em;
        margin-bottom: 20px;
        color: #324b4e;
        
    }
    
    .title-topcontainer p {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #273b3d;
        margin-bottom: 20px;
        position: relative;
    }

    #skills {
        width: 80%;
        margin: 0 auto;
    }
    .skills-top {
        margin: 30px auto 130px auto;
    
    }
    .skills-title {
        margin-left: 0;
        /* padding-left: 50px; */
    }
    
    .skills-title h1 {
        font-size: 40px;  
    }
    
    .skills-title p {
        font-family: 'Poppins', sans-serif;
        width: 400px;
    }

    .skills-img {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 500px;
    }

}

@media (max-width: 950px) {

    #header {
        justify-content: space-around;
    }

    #logo {
        width: 80px;
    }
    
    #logo a img {
        margin: auto;
      display: block;
    }

    #menu {
        display: block;
        position: absolute;
        width: 80%;
        height: 0;
        top: 100px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #e8eded;
        /* height: 10px; */
        transition: .6s;
        z-index: 9999;
        visibility: hidden;
        overflow-y: auto;
        padding-top: 50px;
        color: #c91bce;
        background: rgba(242, 242, 242, 0.17);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.1px);
        -webkit-backdrop-filter: blur(6.1px);
        border: 1px solid rgba(242, 242, 242, 0.05);
    }

    #nav.active #menu {
        height: 60vh;
        visibility: visible;
    }

    #menu li {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        text-align: center;
    }

    #menu li a {
        color:#fff ;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        color: #c91bce;
        display: block;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after,
    #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .4s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg)
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .top-links a {
        padding: 4px 50px;
    }

    #skills {
        width: 80%;
        margin: 0 auto;
    }

    .skills-top {
        width: 100%;
    }
    
    .skills-title {
        width: 100%;
    }

    .skills-img {
        width: 100%;
    }

    .cards-box {
    width: 80%;
    gap: 30px;
    }

    .card {
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
    }
    
    .card img{
        width: 43px;
        margin-bottom: 20px;
    }

    .card p{
        font-size: 12px;

    }

}

@media (max-width: 860px) {

    #top {
        padding-bottom: 0;
    }

    .top-container h1 {
        width: 85%;
    }
    
    .top-container p {
        width: 70%;

    }

    #about {
        padding-bottom: 120px;
        width: 80%;
        margin: 0 auto;
        /* background-image: url('../img/bg3.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; */
    }

    .about-container {
        width: 100%;
        padding-top: 100px;
        flex-wrap: wrap;
    }

    #about {
        padding-bottom: 200px;
        position: relative;
    }
    
    
    .about-pic {
        position: relative;
        width: 100%;
    }
    
    .about-pic img {
        width: 100%;
    }
    
    
    .about-desc {
        width: 100%;
        margin-top: 0;
    }
    
    .about-desc h2 {
        font-family: 'Cormorant Garamond', serif;
        /* font-size: 35px; */
        font-weight: 600;
        /* color: #685fa7; */
        margin-bottom: 15px;
    }
    
    .about-desc h2 span {
        color: #6ac6dc;
        font-size: 35px;
    }
    
    .about-desc p {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }


    .skills-top {
        text-align: end;
        flex-wrap: wrap;
        gap: 30px;
        max-width: 860px;
        margin: 30px auto 100px auto;
    
    }

    
    .skills-title {
        width: 100%;
    }
    
    .skills-title h1 {
        font-size: 43px;
    }
    
    .skills-title p {
        font-size: 13px;
        width: 100%;
    }

    .skills-img {
        justify-content: center;
        display: none;
    }

    .cards-box {
        text-align: center;
        display: grid;
        grid-template-columns: 150px 150px 150px;
        grid-column-gap: 5px;
        justify-content: center;
        justify-items: center;

    }

    .card {
        width: 100px;
        border-radius: 20px;
        padding: 20px;
        transition: 0.5s;
        cursor: pointer;
    }


    .card-img {
        height: 100%;
    }
    
    .desc-cardbox {
        position: relative;
        background-color: #F3F3F3;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        border-radius: 0 0 6px 6px;
    
    }
    
    .projects-desc {
        width: 80%;
        margin-left: 0;
        margin: 0 auto;
        /* padding-left: 50px; */
    }

    .projects-desc h1{
        width: 100%;
        text-align: start;
        font-size: 43px;
        margin-bottom: 40px;
    }

    .contact-img {
        display: none;
    }
}

@media (max-width: 520px) {

    #header {
        gap: 100px;
    }

    


    #return {

        right: 0;
        bottom: 0;

    }

    #logo {
        width: 80px;
    }

    .top-container {
        padding-top: 70px;
        padding-bottom: 80px;
    }

    .top-container h1 {
        font-size: 38px;
    }

    .top-container p {
        font-size: 13px;
    }

    .top-links {
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .top-links a {
        width: 50%;
        padding: 6px 15px;
        font-size: 13px;  
    }

    .about-desc p {
        font-size: 13px;
    }

    #about {
        padding-bottom: 80px;
    }
    .about-container {
        padding-top: 60px;
    }


    #skills {
        padding: 60px 0 80px 0;
    }

    .skills-title {
        text-align: end;
        padding-left: 0;
    }

    .skills-title p {
        text-align: end;
        width: 100%;
    }

    .skills-top {
        text-align: center;
    
    }

    .skills-img img{
        width: 80%;

    }

    #projects {
        padding-bottom: 0;
    }
    .projects-content {
        padding: 60px 0 80px 0;
    }

    .projects-desc {
        padding-left: 0px;
        margin-bottom: 30px;
    }


    .projects-desc p {
        font-size: 14px;
    }

    .projects-card {
        width: 80%;
    }
    
    .swiper {
        width: 70%;
    }

    #contact {
        padding: 60px 0 60px 0;
    }
    
    .contact-content {
        width: 80%;
    }

    .contact-content h2 {
        font-size: 43px;
        margin-bottom: 40px;
    }
    .contact-content img {
        position: relative;
        margin: 0 auto;
        width: 140px;
        margin-bottom: 30px;
    }

    .contact-content p {
        font-size: 14px;
    }

    .contact-box i{
        font-size: 23px;
    }
    
    .contact-box a,
    .contact-box p{
        font-size: 12px;
    }
    

    .contact-boxes {
        display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    }

    .contact-box {

        display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    gap: 12px;
        
    }
}

@media (max-width: 450px) {

    .cards-box {
        grid-template-columns: 120px 120px 120px;
    }

    .card {
        width: 90px;
        height: 100%;
        border-radius: 20px;
        padding: 20px;
        transition: 0.5s;
        cursor: pointer;
        text-align: center;
    }

    .card p{
        font-size: 12px;
    }

    .contact-boxes {
        display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    }

    .contact-box {

        display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    gap: 12px;
        
    }

    .contact-box a,
    .contact-box p{
    margin-top: 10px;

}

}
